// Variables
$base-fs : 14px;

// Fontfamily
$montserrat: 'Montserrat', sans-serif;

// Colors
$white: #FFF;
$base-blue : #131f97;
$down-red : #e86a56;
$up-green : #49c37a;
$main-bg: #1b2034;
//$title-bg : #1f2638;
$title-bg : #152046;
//$sub-bg: #131722;
$sub-bg: #202c56;
$cta-reg: #f86150;
$cta-sigin : #49c37a;
$list-bg-1: #141a34;
$list-bg-2: #10152b;
$num-red: #fd585e;
$num-green: #02b36f;

// Font sizes
$fs-12 : 12px;
$fs-16 : 16px;
$fs-14 : 14px;

//Font weights
$fw-light: 300;
$fw-normal: 400;
$fw-bold: 600;
$fw-xtrabold: 700;
$fw-black: 900;